.display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0.8rem 0.2rem;

  .history {
    text-align: right;
    color: #999;
    //letter-spacing: 0.35rem;

    span {
        margin-left: .4rem;
    }

    .night & {
      color: #fff;
    }
  }

  .result {
    border: none;
    outline: none;
    font-size: 4rem;
    font-weight: 600;
    text-align: right;
    color: #555;
    background: #fff;

    .night & {
      background: #282f3b;
      color: #fff;
    }
  }
}
